@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    background-image:url(/assets/img/sfondo.png);
    


}

.margin{
    width: 800px;
    margin: 0 auto;
    padding: 15px;
    background-color: whitesmoke;
    font-size: 1.5em;
}



h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
}

table{
    border-top: 2px solid blueviolet;
    border-bottom: 2px solid blueviolet;
    width: 100%;

}



caption{
    background-color:darkturquoise;
}

iframe{
    width: 100%;
}

.padding{
    padding: 15px;

}

p{
    padding: 15px;
}

.aside{
    background-color:bisque ;
    padding: 15px;
    margin: 5px;

}

main{
    padding: 5px;
}


header{
    background-color: darkorchid;
    text-align: center;
}

footer{
    width: 100%;
}